<input type="text" id="new-todo" placeholder="What needs to be done?" />

{{#todo-list todos=model}}
  {{outlet}}
{{/todo-list}}


<!-- This was the original code (below) the above code was created to move the below code into separate child files. Note the outlet in the above code. This is where the child files will load. -->
<!-- <input type="text" id="new-todo" placeholder="What needs to be done?" />

<section id="main">
  <ul id="todo-list">
    {{#each model as |todo|}}
    <li class="completed">
      <input type="checkbox" class="toggle">
      <label>{{todo.title}}</label><button class="destroy"></button>
    </li>
    {{/each}}
  </ul>

  <input type="checkbox" id="toggle-all">
</section> -->

<!-- <footer id="footer">
  <span id="todo-count">
    <strong>2</strong> todos left
  </span>
  <ul id="filters">
      <li>
          {{#link-to "todos.index" activeClass="selected"}}All{{/link-to}}
      </li>
      <li>
          {{#link-to "todos.incomplete" activeClass="selected"}}Active{{/link-to}}
      </li>
      <li>
          {{#link-to "todos.complete" activeClass="selected"}}Complete{{/link-to}}
      </li>
  </ul>

  <button id="clear-completed">
    <span id="todo-count">
      <strong>{{remaining}}</strong> {{inflection}} left
    </span>
  </button>
</footer> -->
